<!DOCTYPE html>
<html>
  <head>
    <title>Gossip</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all'  %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
